<div class="contentWrap imgToImg">
  <h1>IMAGE FROM IMAGE</h1>
  <div class="encode-image decode-image">
    <label>
      <span>Insert Video</span>
      <input
        type="file"
        onChange="handleChange('decode-image', event, 1)"
        accept="image/*"
      />
      <img />
    </label>
    <div class="send" onclick="sendImage('decode', event)">
      <span>Decode image</span>
    </div>
    <label>
      <img />
    </label>
  </div>
  <div id="loading">
    <img src="/img/loading.gif" />
    <p>Loading</p>
  </div>
</div>
