<div class="contentWrap">
    <div id="loading">
        <img src="/img/loading.gif">
        <p>Loading</p>
    </div>
    <div class="form">
        <label>
            Browse File
            <input type="file" onChange="handleChange('decode', event)" multiple accept="image/*" />
        </label>
        <button class="hidden send" onclick="send('decode', event)">Decode</button>
        <button class="hidden download" onclick="download(event)">Download</button>
    </div>
    <div class="selectedImages"></div>
    <div class="result para"></div>
</div>