<div class="contentWrap">
    <h1>TEXT FROM IMAGE</h2>
    <div id="loading">
        <img src="/img/loading.gif">
        <p>Loading</p>
    </div>
    <div class="decode">
        <label>
            <span>Insert image</span>
            <input type="file" onChange="handleChange('decode', event)" multiple accept="image/*" />
        </label>
        <div class="selectedImages"></div>
        <div class="send" onclick="send('decode', event)">
            <span>Decode image</span>
        </div>
    </div>
    <div class="decode">
        <div class="download"></div>
        <div class="result"></div>
        <div class="icon"></div>
    </div>
</div>
