<div class="contentWrap">
  <div id="loading">
    <img src="/img/loading.gif" />
    <p>Loading</p>
  </div>
  <div class="decode decode-image">
    <label>
      <span>Insert image</span>
      <input
        type="file"
        onChange="handleChangeImage('decode', event)"
        accept="image/*"
      />
    </label>
    <div class="selectedImages"></div>
    <div class="send" onclick="sendImage('decode', event, 1)">
      <span>Decode image</span>
    </div>
  </div>
  <div class="decode">
    <div class="download"></div>
    <div class="result-image"></div>
    <div class="icon"></div>
  </div>
</div>
