<div class="contentWrap imgToImg">
    <h1>IMAGE TO IMAGE</h2>
        <div class="encode-image">
            <label>
                <span>Parent Image</span>
                <input type="file" onChange="handleChange('encode-image', event, 1)" accept="image/*" />
                <img />
            </label>
            <label>
                <span>Child Image</span>
                <input type="file" onChange="handleChange('encode-image', event, 2)" accept="image/*" />
                <img />
            </label>
            <div class="send" onclick="sendImage('encode', event)">
                <span>Encode image</span>
            </div>
            <label>
                <img />
            </label>
        </div>
</div>