<div class="contentWrap">
  <div id="loading">
    <img src="/img/loading.gif" />
    <p>Loading</p>
  </div>
  <div class="encode encode-image">
    <label>
      <span>Browse Image 1</span>
      <input
        id="enc-img-1"
        type="file"
        onChange="handleChangeImage('encode', event)"
        accept="image/*"
      />
    </label>
    <div class="selectedImages"></div>
    <label>
      <span>Browse Image 2</span>
      <input
        id="enc-img-2"
        type="file"
        onChange="handleChangeImage('encode', event)"
        accept="image/*"
      />
    </label>
  </div>
  <div class="encode">
    <div class="send" onclick="sendImage('encode', event)">
      <span>Encode image</span>
    </div>
    <div class="result-image"></div>
    <div class="hidden download" onclick="downloadAll(event)"></div>
  </div>
</div>
