* {
    box-sizing: border-box;
}
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.encode, .decode, .video {
    height: 200px;
    display: grid;
    grid-template-columns: 200px auto 200px;
}
.video {
    height: auto;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 10px;
    grid-template-rows: 250px auto;
}
.decode-video {
    grid-template-columns: 250px 250px;
}
.encode:last-child, .decode:last-child {
    margin-top: 10px;
}
.encode label, .encode .send, .encode .download, .encode .icon,
.decode label, .decode .send, .decode .download, .decode .icon,
.video label, .video .send {
    /* height: 200px; */
    background-image: url('/img/image.png');
    background-color: #36444b;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.video label:first-child {
    background-image: url('/img/video.png');
    background-size: 80% 80%;
    position: relative;
}
.video label:last-child {
    grid-column: 1 / span 3;
    display: none;
    height: 300px;
}
.video label:last-child img{
    object-fit: contain;
}
.video video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border: 10px solid #256e92;
    display: none;
    background: #256e92;
}
.video label button {
    position: absolute;
    background-image: url(/img/close.png);
    width: 50px;
    height: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 8px solid #256e92;
    text-align: center;
    box-shadow: inset 0 0 3px;
    line-height: 30px;
    display: none;
    z-index: 2;
    border-radius: 50%;
    right: 0;
    background-position: center;
    cursor: pointer;
}
.video label button:active {
    transform: scale(0.97);
}
.video img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #3195c6;
}
.encode label:active, .encode .send:active, .encode .download:active,
.decode label:active, .decode .send:active, .decode .download:active,
.video label:active, .video .send:active {
    background-size: 90% 90%;
}
.encode .download::after,
.decode .download::after {
    content: "Download All";
    padding: 5px;
    background-color: #ffffffbf;
    margin: auto;
    border-radius: 5px;
}
.encode .send, .decode .send, .video .send  {
    background-image: url('/img/send.png');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.encode .download, .decode .download {
    width: 200px;
    background-image: url('/img/download.jpg');
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.encode .icon, .decode .icon {
    background-image: url('/img/binary.png');
    border: 20px solid #36444b;
    background-size: cover;
}
.encode label input, .decode label input, .video label input {
    display: none;
}
.encode span, .decode span, .video span  {
    padding: 5px;
    background-color: #ffffffbf;
    margin: auto;
    border-radius: 5px; 
}
.selectedImages, .result {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    height: 200px;
    position: relative;
    z-index: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    min-width: 10px;
}   
.selectedImages::after, .result::after {
    content: "";
    width: 1px;
}

.result a {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    margin: 10px calc(50% - 25px);
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding-top: 5%;
    background-image: url('/img/download.ico');
    background-size: cover;
}
.result a:active {
    transform: scale(0.9);
}

.para p {
    width: calc(50vh - 80px);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
}

#loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: #ffffff5e;
    backdrop-filter: blur(5px);
}

#loading p {
    font-size: 26px;
    font-weight: bold;
    padding: 6px 10px;
    background: darkcyan;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .selectedImages {
        display: grid;
        grid-template-columns: auto;
    }
}

.imgContainer {
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 180px;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border: 2px solid darkcyan;
    animation: imgAni 500ms ease-in-out;
}

.imgContainer span {
    position: absolute;
    padding: 3px 10px;
    border-radius: 2px 0 0 2px;
    right: 0;
    background: #ffffff57;
    bottom: 82px;
    z-index: 3;
}

.imgContainer .msg {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    line-height: 20px;
    background: #ffffff99;
    resize: none;
}

@keyframes imgAni {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
p {
    margin: 10px;
    overflow: auto;
    text-align: center;
    width: 180px;
    border: 1px solid;
    padding: 10px;
}