.wrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  display: grid;
  grid-template-columns: 350px auto;
  transition: 300ms ease-in-out;
}
.sidePanel {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background-color: purple;
  background-image: url("/img/bg.jpg");
  background-size: cover;
  position: relative;
}
.sidePanel .title {
  text-align: center;
  color: white;
  font-family: sans-serif;
  padding-top: 40%;
}
.sidePanel .active {
  border: 2px solid white;
}
.list {
  padding: 10px;
  color: white;
  background-color: #00000038;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}
.list:hover {
  border: 2px solid white;
}
.list:active {
  transform: scale(0.96);
}
.mainContent {
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}
.contentWrap h1 {
  text-align: center;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-image: url(/img/bg.jpg);
  background-clip: unset;
  -webkit-background-clip: text;
  background-size: contain;
  background-position: 58px;
}
.openMenu,
.closeMenu {
  display: none;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  cursor: pointer;
  margin: 2px;
  right: 0px;
}
.openMenu {
  background-image: url("/img/menu.png");
  /* border: 2px solid black; */
}
.closeMenu {
  background-image: url("/img/close.jpg");
  border: 2px solid white;
}
.header {
  position: relative;
  z-index: 5;
  height: 54px;
  border-radius: 6px;
}
@media only screen and (max-width: 800px) {
  .closedMenu {
    left: -350px;
    width: calc(100% + 350px);
  }
  .openMenu,
  .closeMenu {
    display: block;
  }
}
