* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.form {
    display: flex;
    height: 60px;
    transition: 1s;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 50vh 50vw;
    width: 50%;
    overflow: initial;
    top: 0;
}

.activeForm {
    height: 40px;
    margin: 10px;
    width: 100%;
    transform: scale(.7) translate(-51px, -15px);
}

.hidden {
    width: 0;
    overflow: hidden;
    border: 0;
}

.selectedImages, .result {
    display: grid;
    grid-auto-flow: column;
    height: calc(50vh - 70px);
    position: relative;
    z-index: 0;
    overflow-x: auto;
    margin-top: 50px;
    scroll-behavior: smooth;
    width: fit-content;
    max-width: 100%;
}

.result {
    margin-top: 0;
}

.para p {
    width: calc(50vh - 80px);
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
}

#loading {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: #ffffff5e;
    backdrop-filter: blur(5px);
}

#loading p {
    font-size: 26px;
    font-weight: bold;
    padding: 6px 10px;
    background: darkcyan;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .selectedImages {
        display: grid;
        grid-template-columns: auto;
    }
}

label,
button {
    position: relative;
    background: darkcyan;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 100%;
    box-shadow: 2px 2px 13px -4px black, inset -4px -4px 18px -9px black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: 500ms;
    margin-right: 15px;
}

label:active {
    transform: scale(0.8);
    outline: none;
}

input {
    display: none;
    /* -webkit-tap-highlight-color: transparent; */

}

.imgContainer {
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: calc(50vh - 100px);
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border: 2px solid darkcyan;
    animation: imgAni 500ms ease-in-out;
}

.imgContainer span {
    position: absolute;
    padding: 3px 10px;
    border-radius: 2px 0 0 2px;
    right: 0;
    background: #ffffff57;
    bottom: 82px;
    z-index: 3;
}

.imgContainer .msg {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    line-height: 20px;
    background: #ffffff99;
    resize: none;
}

@keyframes imgAni {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}